body {
    margin: 0;
    background-color: #000;
    color: #e6e6e6;
    font-family: 'Inter', sans-serif;
    line-height: 1.9;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap');

.container {
    width: 60%;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 120px;
}

p {
    font-size: 20px;
    font-weight: 300;
    margin: 140px 0;
}

.red {
    color: #ff0000;
}

.blue {
    color: #4da6ff;
}

.green {
    color: #00ff3c;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    opacity: 0.6;
}

.enter {
    position: fixed;
    top: 30px;
    right: 40px;
    font-size: 16px;
    letter-spacing: 3px;
    color: #ff0000;
}

.dooming-final {
    font-size: 90px;
    letter-spacing: 22px;
    color: #ff0000;
    text-align: center;
    margin-top: 250px;
    margin-bottom: 250px;
}

.quote {
    font-style: italic;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 200px;
}

@media (max-width: 900px) {
    .container {
        width: 85%;
    }

    p {
        font-size: 18px;
        margin: 100px 0;
    }

    .dooming-final {
        font-size: 55px;
        letter-spacing: 12px;
    }
}
