body {
    margin: 0;
    background-color: #000;
    color: #f2f2f2;
    font-family: 'Inter', sans-serif;
    line-height: 1.8;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap');

.container {
    width: 60%;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

p {
    font-size: 20px;
    font-weight: 300;
    margin: 80px 0;
}

.red {
    color: #ff0000;
    font-weight: 600;
}

.green {
    color: #00ff3c;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    opacity: 0.6;
}

.enter {
    position: fixed;
    top: 30px;
    right: 40px;
    font-size: 16px;
    letter-spacing: 2px;
    color: #ff0000;
}

.dooming-final {
    font-size: 80px;
    letter-spacing: 20px;
    color: #ff0000;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 200px;
}

.quote {
    font-style: italic;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 150px;
}

@media (max-width: 900px) {
    .container {
        width: 85%;
    }

    p {
        font-size: 18px;
    }

    .dooming-final {
        font-size: 50px;
        letter-spacing: 10px;
    }
}
